body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
    width: 100vw;
    cursor: default;
}

.background {
    background-image: url(./resources/katerina-kerdi--YiJvbfNDqk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: 2fr 5fr 1fr /*3fr*/;
    /* background-color: rgba(56, 163, 165, 0.7); */
    align-self: center;
    border-radius: 8px;
    padding: 20px;
    gap: 10px;
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.2);
}

.city {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.inCity {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    gap: 10px;
}

.cityName {
    color: #22577A;
    font-size: 3rem;
}

label {
    font-size: 1rem;
    color: #22577A;
}

#citySearch {
    padding: 5px;
    border-radius: 12px;
    border: 1px solid #dbb2a5;
    /* background-color: rgba(56, 163, 165, 0.7); */
    outline: none;
}

#cityBtn {
    /* background-color: rgba(56, 163, 165, 0.7); */
    border-radius: 12px;
    border: 1px solid #dbb2a5;
    padding: 5px 10px;
}

#cityBtn:hover {
    cursor: pointer;
    border: 1px solid #22577A;
    /* background-color: rgba(56, 163, 165, 0.7); */
}

#cityBtn:active {
    background-color: rgba(34, 87, 122, 0.9);
}

.mainWeather {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    display: flex;
}

.currentTemp {
    font-size: 5rem;
    color: #22577A;
}

.degree {
    font-size: 3rem;
    color: #22577A;
}

.weather {
    text-align: center;
}

.wDesc {
    font-size: 1.5rem;
    text-align: center;
    color: #22577A;
}

.wIcon img {
    height: 100px;
}

.mainDetails {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    text-align: center;
    color: #22577A;
}
